$transition-bezier: all 0.3s cubic-bezier(0.17, 0.67, 0.8, 0.62);
$transition-bezier-secondary: all 0.6s cubic-bezier(0.17, 0.67, 0.8, 0.62);

@mixin scaleX-in {
  animation: scaleX-in 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes scaleX-in {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}

@mixin scaleX-out {
  animation: scaleX-out 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes scaleX-out {
  0% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(0);
  }
}

@mixin scaleY-in {
  animation: scaleY-in 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes scaleY-in {
  0% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}

@mixin scaleY-out {
  animation: scaleY-out 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes scaleY-out {
  0% {
    transform: scaleY(1);
  }

  100% {
    transform: scaleY(0);
  }
}

@mixin scaleXY-in {
  animation: scaleXY-in 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes scaleXY-in {
  0% {
    transform: scaleX(0) scaleY(0);
  }

  100% {
    transform: scaleX(1) scaleY(1);
  }
}

@mixin scaleXY-out {
  animation: scaleXY-out 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes scaleXY-out {
  0% {
    transform: scaleX(1) scaleY(1);
  }

  100% {
    transform: scaleX(0) scaleY(0);
  }
}

@mixin loading-circle {
  animation: loading-circle 1.5s cubic-bezier(0.39, 0.575, 0.565, 1) infinite;
}

@keyframes loading-circle {
  0% {
    transform: rotate3d(0, 0, 25, 0deg);
  }
  100% {
    transform: rotate3d(0, 10, 25, 360deg);
  }
}

@mixin slider-next-in {
  animation: slider-next-in 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes slider-next-in {
  0% {
    transform: scaleX(0);
    left: -100%;
  }
  25% {
    transform: scaleX(0.25);
    left: -75%;
  }
  50% {
    transform: scaleX(0.5);
    left: -50%;
  }
  75% {
    transform: scaleX(0.75);
    left: -25%;
  }

  100% {
    transform: scaleX(1);
    left: 0;
  }
}

@mixin slider-next-out {
  animation: slider-next-out 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes slider-next-out {
  0% {
    transform: scaleX(1);
    right: 0;
  }
  25% {
    transform: scaleX(0.75);
    right: -25%;
  }
  50% {
    transform: scaleX(0.5);
    right: -50%;
  }
  75% {
    transform: scaleX(0.25);
    right: -75%;
  }

  100% {
    transform: scaleX(1);
    right: -100%;
  }
}

@mixin slider-prev-in {
  animation: slider-prev 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes slider-prev {
  0% {
    right: 0;
    transform: scaleX(1);
  }
  25% {
    right: -25%;
    transform: scaleX(0.75);
  }
  50% {
    right: -50%;
    transform: scaleX(0.5);
  }
  75% {
    right: -75%;
    transform: scaleX(0.25);
  }

  100% {
    right: -100%;
    transform: scaleX(0);
  }
}
