$transition-bezier: all 0.3s cubic-bezier(0.17, 0.67, 0.8, 0.62);
$transition-bezier-secondary: all 0.6s cubic-bezier(0.17, 0.67, 0.8, 0.62);

@mixin scaleX-in {
  animation: scaleX-in 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes scaleX-in {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}

@mixin scaleX-out {
  animation: scaleX-out 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes scaleX-out {
  0% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleX(0);
  }
}

@mixin scaleY-in {
  animation: scaleY-in 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes scaleY-in {
  0% {
    transform: scaleY(0);
  }

  100% {
    transform: scaleY(1);
  }
}

@mixin scaleY-out {
  animation: scaleY-out 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes scaleY-out {
  0% {
    transform: scaleY(1);
  }

  100% {
    transform: scaleY(0);
  }
}

@mixin scaleXY-in {
  animation: scaleXY-in 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes scaleXY-in {
  0% {
    transform: scaleX(0) scaleY(0);
  }

  100% {
    transform: scaleX(1) scaleY(1);
  }
}

@mixin scaleXY-out {
  animation: scaleXY-out 0.3s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@keyframes scaleXY-out {
  0% {
    transform: scaleX(1) scaleY(1);
  }

  100% {
    transform: scaleX(0) scaleY(0);
  }
}

@mixin loading-circle {
  animation: loading-circle 1.5s cubic-bezier(0.39, 0.575, 0.565, 1) infinite;
}

@keyframes loading-circle {
  0% {
    transform: rotate3d(0, 0, 25, 0deg);
  }
  100% {
    transform: rotate3d(0, 10, 25, 360deg);
  }
}
