// Fonts import
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

$family: 'Noto Sans', sans-serif;

// Custom font class
@mixin title {
  color: $blue;
  font-family: $family;
  font-size: toRem(3);
  font-weight: 700;
  line-height: toRem(2.75);
  margin: $mrg-base 0;

  span {
    color: $black;
  }
}

@mixin subtitle {
  color: $blue;
  font-family: $family;
  font-size: toRem(2.5);
  font-weight: 600;
  line-height: toRem(2.5);
  margin: $mrg-half 0;

  span {
    color: $black;
  }
}

@mixin text {
  color: $black;
  font-family: $family;
  font-size: toRem(1.1);
  font-weight: 400;
}
