$shadow-primary: 7px 7px 14px rgba($black, 0.6);
$shadow-secondary: 6px 6px 5px rgba($black, 0.6);
$shadow-tertiary: 3px 3px 5px rgba($black, 0.6);
$shadow-fourth: 0.5px 0.5px 2px rgba($blue, 0.8), 0.5px 0.5px 2px rgba($blue, 0.8);

$shadow-primary-text: 0.5px 0.5px 1.5px rgba($white, 0.8), 0.5px 0.5px 1.5px rgba($white, 0.8),
  0.5px 0.5px 1.5px rgba($white, 0.8);
$shadow-secondary-text: 2px 2px 15px rgba($blue, 0.8), 2px 2px 15px rgba($blue, 0.8), 2px 2px 15px rgba($blue, 0.8);
$shadow-tertiary-text: 0 0 0.5px rgba($white, 0.8), 0 0 0.5px rgba($white, 0.8), 0 0 0.5px rgba($white, 0.8);
$shadow-fourth-text: 0px 0px 1.5px rgba($blue, 0.8), 0px 0px 1.5px rgba($blue, 0.8);
$shadow-fifth-text: 0px 0px 1.5px rgba($black, 0.8), 0px 0px 1.5px rgba($black, 0.8);
