$shadow-primary: 0 0 $black, 0 0 $black, 0 0 $black, 0 0 $black, 0 1px 3px 0 #18181b66, 0 1px 2px -1px #18181b66;
$shadow-secondary: 6px 6px 5px rgba($black, 0.6);
$shadow-tertiary: 3px 3px 5px rgba($black, 0.6);

$shadow-primary-text: 0.5px 0.5px 1.5px rgba($white, 0.8), 0.5px 0.5px 1.5px rgba($white, 0.8),
  0.5px 0.5px 1.5px rgba($white, 0.8);
$shadow-secondary-text: 2px 2px 15px rgba($blue, 0.8), 2px 2px 15px rgba($blue, 0.8), 2px 2px 15px rgba($blue, 0.8);
