.recipe-details {
  @include scaleXY-faded-in;
  align-items: center;
  background-color: darken($tertiary, 5);
  box-shadow: $shadow-secondary;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  position: relative;
  padding: $pad-onehalf;
  width: 90%;

  .recipe-image {
    box-shadow: $shadow-primary;
    border-radius: 10px;
    height: 300px;
    overflow: hidden;
    transition: $transition-bezier;
    width: 300px;

    img {
      border-radius: 10px;
      height: 100%;
      transition: $transition-bezier;
      width: 100%;
    }

    &:hover {
      box-shadow: $shadow-tertiary;
      scale: 0.9;

      img {
        scale: 1.05;
      }
    }

    @media (max-width: 1024px) {
      margin-bottom: $mrg-double;
    }
  }

  .details {
    background-color: darken($tertiary, 10);
    box-shadow: $shadow-tertiary;
    border-radius: 5px;
    position: relative;
    padding: $pad-half 0;
    padding-bottom: $pad-onehalf;
    text-align: center;
    width: 65%;

    h2 {
      font-size: toRem(2.5);
      font-weight: 500;
      text-transform: capitalize;
      text-shadow: $shadow-quarter;
    }

    h3 {
      font-size: toRem(2);
      text-shadow: $shadow-quarter;

      span {
        color: $black;
        text-shadow: none;
      }
    }

    @media (max-width: 1150px) {
      width: 60%;
    }

    @media (max-width: 1024px) {
      width: 100%;
    }

    @media (max-width: 700px) {
      h2 {
        font-size: toRem(1.85);
        font-weight: 400;
      }

      h3 {
        font-size: toRem(1.5);
        font-weight: 400;
      }
    }
  }

  @media (max-width: 1024px) {
    flex-direction: column;
  }
}
