.recipe-instructions {
  margin: $mrg-triple auto;
  position: relative;
  width: 90%;

  h2 {
    text-align: center;
  }

  p {
    font-size: toRem(1.5);
  }
}

.video-recipe {
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 90%;

  iframe {
    @include scaleXY-in;
    box-shadow: $shadow-primary;
    border-radius: 5px;
  }

  @media (max-width: 725px) {
    iframe {
      width: 100%;
    }
  }
}
