.recipe {
  background-color: darken($tertiary, 15);
  min-height: 100vh;
  position: relative;
  padding-top: 20vh;
  padding-bottom: toRem(3);
  width: 100vw;

  .span-t {
    background-color: darken($tertiary, 15);
    box-shadow: inset -2px -2px 5px rgba($black, 0.5), inset 2px 2px 5px rgba($black, 0.5);
    border-radius: 5px;
    color: $blue;
    cursor: pointer;
    font-family: $family-title;
    font-weight: 600;
    position: relative;
    padding: $pad-quarter $pad-half;
    transform: skew(-15deg);
    transition: $transition-bezier;

    &:hover {
      scale: 1.1;
      transform: skew(5deg);
      text-shadow: $shadow-quarter-text;
    }
  }

  .content {
    position: relative;
    width: 100%;

    .recipe-details {
      align-items: center;
      background-color: darken($tertiary, 5);
      box-shadow: $shadow-secondary;
      border-radius: 5px;
      display: flex;
      justify-content: space-around;
      margin: 0 auto;
      position: relative;
      padding: $pad-onehalf;
      width: 90%;

      .recipe-image {
        box-shadow: $shadow-primary;
        border-radius: 10px;
        height: 300px;
        overflow: hidden;
        transition: $transition-bezier;
        width: 300px;

        img {
          border-radius: 10px;
          height: 100%;
          transition: $transition-bezier;
          width: 100%;
        }

        &:hover {
          box-shadow: $shadow-tertiary;
          scale: 0.9;

          img {
            scale: 1.05;
          }
        }
      }

      .details {
        background-color: darken($tertiary, 10);
        box-shadow: $shadow-tertiary;
        border-radius: 5px;
        position: relative;
        padding: $pad-half 0;
        padding-bottom: $pad-onehalf;
        text-align: center;
        width: 70%;

        h2 {
          text-transform: capitalize;
          text-shadow: $shadow-quarter;
        }

        h3 {
          text-shadow: $shadow-quarter;

          span {
            color: $black;
            text-shadow: none;
          }
        }

        .recipe-tags {
          .tags {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            max-width: 60%;
            margin: 0 auto;

            .span-t {
              font-size: toRem(1.2);
              margin: $mrg-quarter;
            }
          }
        }
      }
    }

    .ingredients-slider {
      margin-top: $mrg-triple;
      overflow: hidden;
      position: relative;
      width: 100%;

      h2 {
        margin-bottom: $mrg-double;
        text-align: center;
      }

      .slider-content {
        height: 50vh;
        position: relative;
        width: 100%;

        .ingredient {
          @include scaleXY-out;
          background-color: darken($tertiary, 5);
          height: 100%;
          left: -100%;
          position: relative;
          padding: $pad-quarter;
          top: 0;
          width: 100%;

          h2 {
            color: $black;
            margin-bottom: $mrg-base;
          }

          &-content {
            align-items: center;
            display: flex;
            height: 70%;
            justify-content: center;
            width: 100%;

            .ingredient-image {
              height: 100%;
              margin-right: $mrg-triple;
              width: 300px;

              img {
                height: 100%;
                object-fit: cover;
                width: 100%;
              }
            }

            .ingredient-measure {
              margin-left: $mrg-triple;

              .span-t {
                font-size: toRem(4.5);
              }
            }
          }

          &.active {
            @include scaleXY-in;
            left: 0;
          }
        }

        .slider-controls {
          display: flex;
          justify-content: space-between;
          left: 50%;
          position: absolute;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 95%;
          z-index: 5;

          button {
            background-color: transparent;
            border: none;
            color: $blue;
            cursor: pointer;
            font-size: toRem(2);
            transition: $transition-bezier;

            &:hover {
              scale: 1.2;
              text-shadow: $shadow-quarter-text;
            }
          }
        }
      }
    }
  }
  .recipe-instructions {
    margin: $mrg-triple auto;
    position: relative;
    width: 90%;

    h2 {
      text-align: center;
    }

    p {
      font-size: toRem(1.5);
    }
  }

  .video-recipe {
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 90%;

    iframe {
      box-shadow: $shadow-primary;
      border-radius: 5px;
    }
  }
}
