.recipe {
  background-color: darken($tertiary, 15);
  min-height: 100vh;
  position: relative;
  padding-top: 20vh;
  padding-bottom: toRem(3);
  width: 100vw;

  &-content {
    position: relative;
    width: 100%;
  }
}
