.ingredients-slider {
  margin-top: $mrg-triple;
  overflow: hidden;
  position: relative;
  width: 100%;

  h2 {
    margin-bottom: $mrg-double;
    text-align: center;
  }

  .slider-content {
    height: 450px;
    position: relative;
    width: 100%;

    .ingredient {
      @include scaleXY-faded-in;
      background-color: darken($tertiary, 5);
      height: 100%;
      left: -100%;
      position: absolute;
      top: 0;
      width: 100%;

      h2 {
        color: $black;
        text-transform: capitalize;
      }

      &-content {
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 70%;
        justify-content: center;
        width: 100%;

        .ingredient-image {
          height: 180px;
          width: 180px;

          img {
            height: 100%;
            width: 100%;
          }
        }

        .ingredient-measure {
          margin-top: $mrg-triple;
          text-align: center;

          .span-t {
            background-color: darken($tertiary, 15);
            box-shadow: inset -2px -2px 5px rgba($black, 0.5), inset 2px 2px 5px rgba($black, 0.5);
            border-radius: 5px;
            color: $blue;
            font-family: $family-title;
            font-weight: 600;
            font-size: toRem(2.5);
            line-height: toRem(4.5);
            padding: $pad-quarter $pad-half;
          }

          @media (max-width: 700px) {
            .span-t {
              font-size: toRem(1.85);
              font-weight: 500;
              line-height: toRem(3.85);
            }
          }
        }
      }

      &.active {
        @include scaleXY-in;
        left: 0%;
      }
    }

    .slider-controls {
      display: flex;
      justify-content: space-between;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 95%;
      z-index: 5;

      button {
        background-color: transparent;
        border: none;
        color: $blue;
        cursor: pointer;
        font-size: toRem(2);
        transition: $transition-bezier;

        &:hover {
          scale: 1.2;
          text-shadow: $shadow-fourth-text;
        }
      }
    }

    @media (max-width: 700px) {
      height: 400px;
    }

    @media (max-width: 400px) {
      height: 425px;
    }
  }
}
