.text {
  background-color: rgba($tertiary, 0.8);
  box-shadow: $shadow-secondary;
  border-radius: 5px;
  left: 50%;
  margin-top: 35vh;
  position: relative;
  padding: $pad-base;
  transform: translateX(-50%);
  width: 60vw;
  z-index: 2;

  h1 {
    text-align: center;
  }

  @media (max-width: 990px) {
    width: 90vw;
  }
}
