.home {
  position: relative;
  padding-top: 35vh;
  top: 0;
  width: 100vw;

  .content {
    position: relative;
    width: 100%;
  }

  &::after {
    background: url(../../../../public/image/header.png);
    background-size: cover;
    background-attachment: fixed;
    content: '';
    height: 40vh;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  &::before {
    background-color: rgba($black, 0.85);
    content: '';
    height: 40vh;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}
