.home {
  position: absolute;
  top: 0;
  width: 100vw;

  .content {
    position: relative;
    width: 100%;

    .reset {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      margin-top: $mrg-triple;
      width: 100%;

      div {
        background-color: $secondary;
        box-shadow: $shadow-primary;
        height: 250px;
        margin-bottom: $mrg-double;
        transition: $transition-bezier;
      }

      &.fourParts {
        div {
          width: 20%;
        }
      }
      &.threeParts {
        div {
          width: 30%;
        }
      }
      &.twoParts {
        div {
          width: 40%;
        }
      }
    }
  }

  &::after {
    background: url(../../../../public/header.png);
    background-size: cover;
    background-attachment: fixed;
    content: '';
    height: 40vh;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  &::before {
    background-color: rgba($black, 0.9);
    content: '';
    height: 40vh;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}
