.home {
  position: relative;
  padding-top: 35vh;
  top: 0;
  width: 100vw;

  .content {
    position: relative;
    width: 100%;

    .no-recipe {
      @include scaleXY-in;
      margin-top: $mrg-triple;
      text-align: center;

      h2 {
        span {
          background-color: $errors;
          box-shadow: $shadow-secondary;
          border-radius: 5px;
          color: $white;
          padding: $pad-quarter $pad-onehalf;
          text-shadow: $shadow-tertiary-text;
        }
      }
    }
  }

  &::after {
    background: url(../../../../public/image/header.png);
    background-size: cover;
    background-attachment: fixed;
    content: '';
    height: 40vh;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  &::before {
    background-color: rgba($black, 0.85);
    content: '';
    height: 40vh;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }
}
