.countries-filter {
  background-color: rgba($tertiary, 0.9);
  box-shadow: $shadow-secondary;
  border-radius: 5px;
  left: 50%;
  position: relative;
  padding: $pad-base;
  transform: translateX(-50%);
  width: 95vw;
  z-index: 2;

  h2 {
    text-align: center;
  }

  .countries {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;

    div {
      @include scaleXY-in;
      margin: $mrg-quarter $mrg-half;

      img {
        box-shadow: $shadow-primary;
        border-radius: 5px;
        border: 2px solid rgba($black, 0.6);
        transition: $transition-bezier;

        &:hover {
          box-shadow: $shadow-secondary;
          opacity: 0.8;
          scale: 1.05;
        }
      }

      @media (max-width: 510px) {
        height: 60px;
        width: 80px;

        img {
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}
