.about-us {
  margin-bottom: $mrg-triple;
  position: relative;
  padding-top: 45vh;
  width: 100vw;

  .content {
    background-color: rgba($tertiary, 0.9);
    box-shadow: $shadow-secondary;
    border-radius: 5px;
    left: 50%;
    position: relative;
    padding: $pad-base;
    transform: translateX(-50%);
    width: 70%;
    z-index: 2;

    h2 {
      text-align: center;
    }
  }

  &::after {
    background: url(../../../../public/image/about.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    content: '';
    height: 65vh;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }

  &::before {
    background-color: rgba($black, 0.815);
    content: '';
    height: 65vh;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  @media (max-width: 990px) {
    padding-top: 23vh;

    &::after {
      background-size: contain;
      height: 26vh;
    }

    &::before {
      height: 26vh;
    }

    .content {
      width: 90vw;

      p {
        font-size: toRem(1.2);
      }
    }
  }
}
