.loading {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  min-height: 30vh;
  position: relative;
  width: 100%;

  &-circle {
    @include loading-circle;
    border: 7px solid rgba($black, 0.5);
    border-top-color: $blue;
    border-radius: 50%;
    height: 6rem;
    width: 6rem;
  }
}
